<div class="w3-display-container" style="margin-bottom:50px">
    <img src="assets/img/nasa-1.jpg" style="width:100%;height: 400px;object-fit: cover">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange" style="bottom:4%;opacity:0.7;width:60%">
        <h2><b>Good Reasons</b></h2>
        <h2 class="w3-hide-small"><b>For travelling with us</b></h2>
    </div>
    <div class="w3-display-topright w3-container w3-amber w3-hover-orange"
        style="margin-top:1%; bottom:4%;opacity:0.95;width:30%;max-width: 300px;">
        <div class="w3-container w3-center">
            <div class="w3-stach">
                <div *ngIf="!user">
                    <img src="assets/img/nasa-1.jpg" alt="avatar" style="width:100%" class="w3-circle">
                    <h3 class="w3-wide">Guest</h3>
                    <button class="w3-button w3-black w3-hover-blue w3-padding-4"
                        (click)="showDialog('login')">Login</button>
                </div>
                <div *ngIf="user">
                    <img src="assets/img/nasa-1.jpg" alt="avatar" style="width:100%" class="w3-circle">
                    <h3 class="w3-wide">{{user.firstName}} {{user.lastName}}</h3>
                    <button class="w3-button w3-black w3-hover-blue w3-padding-4" (click)="showDialog('user')">My
                        account</button>
                    <button class="w3-button w3-black w3-hover-blue w3-padding-4" (click)="logoutUser()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Dialog -->
<div>
    <div id="login" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <div class="w3-container">
                <span (click)="hideDialog('login')" class="w3-button w3-display-topright">&times;</span>
                <form class="w3-container" (ngSubmit)="loginUser('login')" ngNativeValidate>
                    <p>
                        <label class="w3-text-grey" for="login-first-name"><b>First Name</b></label>
                        <input class="w3-input w3-border w3-light-grey" id="login-first-name" type="text" required
                            name="login-first-name" [(ngModel)]="firstName">
                    </p>
                    <p>
                        <label class="w3-text-grey" for="t-f-last-name"><b>Last Name</b></label>
                        <input class="w3-input w3-border w3-light-grey" id="login-last-name" type="text" required
                            name="last-name" [(ngModel)]="lastName">
                    </p>

                    <p>
                        <button class="w3-button w3-black w3-hover-blue w3-padding-4" type="submit">Login</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- user info dialog -->
<div *ngIf="user">
    <div id="user" class="w3-modal ">
        <div class="w3-modal-content w3-animate-top">
            <header class="w3-container w3-amber">
                <span (click)="hideDialog('user')" class="w3-button w3-display-topright">&times;</span>
                <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                <p>{{ user.birthDate }}</p>
            </header>
            <h2 class="w3-center w3-padding-8"><span class="w3-tag w3-amber w3-wide">Flight List</span></h2>
            <div class="w3-container" style="max-height: 700px;">
                <div>
                    <!-- Display user flight list -->
                    <div class="w3-row-padding w3-padding-16" style="max-height: 600px; overflow-y: auto;">
                        <div *ngFor="let flight of user.flightList">
                            <div class="w3-col m4 w3-margin-bottom w3-container">
                                <div class="w3-white w3-card-4">
                                    <img src="assets/img/nasa-1.jpg" alt="image" style="width:100%">
                                    <div class="w3-container">
                                        <h3 class="">Flight {{flight.id}}</h3>
                                        <p><span class="w3-opacity">Ticket Price</span> {{flight.ticketPrice}}</p>
                                        <p>Departure Time</p>
                                        <p class="w3-opacity">{{flight.departureTime|date:'yyyy-MM-dd HH:mm'}}</p>
                                        <p>Arrival Time</p>
                                        <p class="w3-opacity">{{flight.arrivalTime|date:'yyyy-MM-dd HH:mm'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- search menu -->
<div class="w3-row w3-container" style="margin:50px 0">
    <div class="w3-row-padding" style="margin-bottom:20px;">
        <div class="w3-col l3 m6">
            <label>Departure Date From</label>
            <input class="w3-input w3-border" type="date" [(ngModel)]="dateFrom">
        </div>
        <div class="w3-col l3 m6">
            <label>Departure Date To</label>
            <input class="w3-input w3-border" type="date" [(ngModel)]="dateTo">
        </div>
        <div class="w3-col l2 m4">
            <label>Price From</label>
            <input class="w3-input w3-border" type="number" step="0.01" min="0.01" [(ngModel)]="priceFrom">
        </div>
        <div class="w3-col l2 m4">
            <label>Price To</label>
            <input class="w3-input w3-border" type="number" step="0.01" min="0.01" [(ngModel)]="priceTo">
        </div>
        <div class="w3-col l2 m4">
            <label> Search</label>
            <button class="w3-button w3-block w3-black w3-hover-orange" (click)="search()">Search</button>
        </div>
    </div>
    <!-- Pages Selector -->
    <div class="w3-right w3-container w3-margin-bottom w3-padding-16">
        <div class="w3-bar w3-border">
            <a class="w3-bar-item w3-button" (click)="previousPage()">&laquo;</a>
            <a class="w3-bar-item">{{menuCounter+1}}/{{pageCount}}</a>
            <a class="w3-bar-item w3-button" (click)="nextPage()">&raquo;</a>
        </div>
    </div>
    <!-- Display flight list -->
    <div class="w3-row-padding w3-padding-16">
        <div *ngFor="let flight of flights; index as i">
            <div class="w3-col m6 l4 w3-margin-bottom w3-container">
                <div class="w3-white w3-card-4">
                    <img src="assets/img/nasa-1.jpg" alt="image" style="width:100%">
                    <div class="w3-container">
                        <h3 class="">Flight {{flight.id}}</h3>
                        <p><span class="w3-opacity">Available Seats</span> {{flight.seatsNumber}}</p>
                        <p><span class="w3-opacity">Ticket Price</span> {{flight.ticketPrice}}</p>
                        <p>Departure Time</p>
                        <p class="w3-opacity">{{flight.departureTime|date:'yyyy-MM-dd HH:mm'}}</p>
                        <p>Arrival Time</p>
                        <p class="w3-opacity">{{flight.arrivalTime|date:'yyyy-MM-dd HH:mm'}}</p>
                    </div>
                    <button class="w3-button w3-block w3-black w3-hover-orange w3-margin-bottom"
                        [disabled]="!user || flight.seatsNumber<1" (click)="addFlight(flight.id,i)">
                        Choose Journey</button>
                </div>
            </div>
        </div>
    </div>
</div>