<div class="w3-top">
    <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
            <a routerLink="/godlikePanel/flight" class="w3-button w3-block w3-black w3-wide">FLIGHT</a>
        </div>
        <div class="w3-col s3">
            <a routerLink="/godlikePanel/tourist" class="w3-button w3-block w3-black w3-wide">TOURIST</a>
        </div>
        <div class="w3-col s3">
            <a routerLink="/godlikePanel/gender" class="w3-button w3-block w3-black w3-wide">GENDER TYPES</a>
        </div>
    </div>
</div>
<div class="w3-container" style="margin-top: 100px;">
    <router-outlet></router-outlet>
</div>