<div class="w3-content">
    <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Gender Type List</span></h2>
    <div class="w3-responsive">
        <table class="w3-table-all w3-card-4 w3-hoverable">
            <thead>
                <tr class="w3-black w3-text-white">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let type of genders">
                    <td>{{ type.id }}</td>
                    <td>{{ type.name }}</td>
                    <td><button class="w3-btn w3-black w3-hover-red" (click)="delete(type.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w3-card-4" style="margin-top: 30px;">
        <div class="w3-container w3-brown w3-text-white w3-center">
            <h5>Add new type</h5>
        </div>
        <form class="w3-container" (ngSubmit)="save()" ngNativeValidate>
            <p>
                <label class="w3-text-grey"><b>Enter new gender type</b></label>
                <input class="w3-input w3-border w3-light-grey" id="g-f-name" type="text" required name="name"
                    [(ngModel)]="gender.name">
            </p>
            <p>
                <button class="w3-btn w3-brown" type="submit">Add</button>
            </p>
        </form>
    </div>
</div>