<div class="w3-content">

  <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Tourist List</span></h2>
  <!-- Tourist table -->
  <div class="w3-responsive">
    <table class="w3-table-all w3-card-4 w3-hoverable">
      <thead>
        <tr class="w3-black w3-text-white">
          <th scope="col">id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Country</th>
          <th scope="col">Gender</th>
          <th scope="col">Birth Date</th>
          <th scope="col">Notes</th>
          <th scope="col">Flights</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody *ngFor="let tourist of tourists; index as index">
        <tr>
          <td>{{ tourist.id }}</td>
          <td>{{ tourist.firstName }}</td>
          <td>{{ tourist.lastName }}</td>
          <td>{{ tourist.country }}</td>
          <td>{{ tourist.gender.name}}</td>
          <td>{{ tourist.birthDate}}</td>
          <td>
            <span (click)="showNote('note',tourist.notes)"
              class="w3-btn w3-black w3-text-white w3-padding w3-hover-blue">...</span>
          </td>
          <td>
            <span (click)="showDialog(index,'flight-list',tourist)"
              class=" w3-btn w3-black w3-text-white w3-padding w3-hover-blue">...</span>
          </td>
          <td><button class="w3-btn w3-black w3-hover-red" (click)="delete(tourist.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Flights Dialog -->
  <div>
    <div id="flight-list" class="w3-modal">
      <div class="w3-modal-content w3-animate-top" style="max-height: 700px;">
        <header class="w3-container w3-black">
          <span (click)="hideDialog('flight-list')" class="w3-button w3-display-topright">&times;</span>
          <h2>{{ dialogTourist.firstName }} {{ dialogTourist.lastName }} list of flights</h2>
        </header>
        <div class="w3-container w3-padding" style="max-height: 400px; overflow-y: auto;">
          <table class="w3-table-all w3-card-4 w3-hoverable">
            <thead>
              <tr class="w3-black w3-text-white">
                <th scope="col">id</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Seats</th>
                <th scope="col">Ticket Price</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flight of dialogTourist.flightList">
                <td>{{ flight.id }}</td>
                <td>{{ flight.departureTime |date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{ flight.arrivalTime |date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{ flight.seatsNumber }}</td>
                <td>{{ flight.ticketPrice }}</td>
                <td><button class="w3-btn w3-black w3-hover-red" (click)="removeFlight(flight.id)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <form class="w3-container" (ngSubmit)="addFlight()" ngNativeValidate>
          <p>
            <label class="w3-text-grey" for="t-f-flight"><b>Select Flight</b></label>
            <select class="w3-select  w3-border w3-light-grey" name="flight" [(ngModel)]="flight">
              <option *ngFor="let f of flights" [ngValue]="f">{{f.id}}. Departure Time :
                {{f.departureTime |date:'yyyy-MM-dd HH:mm'}},
                Arrival Time : {{f.arrivalTime|date:'yyyy-MM-dd HH:mm'}},
                Seats : {{f.seatsNumber}}, Ticket Price : {{f.ticketPrice}}
              </option>
            </select>
          </p>
          <p>
            <button class="w3-btn w3-brown" type="submit">Add</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- Note Dialog -->
  <div>
    <div id="note" class="w3-modal">
      <div class="w3-modal-content w3-animate-top">
        <div class="w3-container">
          <span (click)="hideDialog('note')" class="w3-button w3-display-topright">&times;</span>
          <p>{{dialogNote}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add new form -->
  <div class="w3-card-4" style="margin-top: 30px;">
    <div class="w3-container w3-brown w3-text-white w3-center">
      <h5>Add new tourist</h5>
    </div>
    <form class="w3-container" (ngSubmit)="save()" ngNativeValidate>
      <p>
        <label class="w3-text-grey" for="t-f-first-name"><b>First Name</b></label>
        <input class="w3-input w3-border w3-light-grey" id="t-f-first-name" type="text" required name="first-name"
          [(ngModel)]="tourist.firstName">
      </p>
      <p>
        <label class="w3-text-grey" for="t-f-last-name"><b>Last Name</b></label>
        <input class="w3-input w3-border w3-light-grey" id="t-f-last-name" type="text" required name="last-name"
          [(ngModel)]="tourist.lastName">
      </p>
      <p>
        <label class="w3-text-grey" for="t-f-date"><b>Birth Date</b></label>
        <input class="w3-input w3-border w3-light-grey" id="t-f-date" type="date" required name="date"
          [(ngModel)]="tourist.birthDate">
      </p>
      <p>
        <label class="w3-text-grey" for="t-f-gender"><b>Gender</b></label>
        <select class="w3-select  w3-border w3-light-grey" name="gender" [(ngModel)]="tourist.gender">
          <option *ngFor="let g of genders" [ngValue]="g">{{g.name}}</option>
        </select>
      </p>
      <p>
        <label class="w3-text-grey" for="t-f-contry"><b>Country</b></label>
        <input class="w3-input w3-border w3-light-grey" id="t-f-country" type="text" required name="country"
          [(ngModel)]="tourist.country">
      </p>
      <p>
        <label class="w3-text-grey" for="t-f-notes"><b>Notes</b></label>
        <textarea class="w3-input w3-border w3-light-grey" id="t-f-notes" type="text" required name="notes" rows="6"
          [(ngModel)]="tourist.notes"></textarea>
      </p>

      <p>
        <button class="w3-btn w3-brown" type="submit">Add</button>
      </p>
    </form>
  </div>
</div>