<div class="w3-content">
    <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Flight List</span></h2>
    <!-- Flight table -->
    <div class="w3-responsive">
        <table class="w3-table-all w3-card-4 w3-hoverable">
            <thead>
                <tr class="w3-black w3-text-white">
                    <th scope="col">id</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Seats</th>
                    <th scope="col">Ticket Price</th>
                    <th scope="col">Tourist List</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flights; index as index">
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.departureTime |date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{ flight.arrivalTime |date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{ flight.seatsNumber }}</td>
                    <td>{{ flight.ticketPrice }}</td>
                    <td><span (click)="showDialog(index,'tourist-list',flight)"
                            class="w3-btn w3-black w3-text-white w3-padding w3-hover-blue">...</span>
                    </td>
                    <td><button class="w3-btn w3-black w3-hover-red" (click)="delete(flight.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Tourist dialog -->
    <div>
        <div id="tourist-list" class="w3-modal">
            <div class="w3-modal-content w3-animate-top"  style="max-height: 700px;">
                <header class="w3-container w3-black">
                    <span (click)="hideDialog('tourist-list')" class="w3-button w3-display-topright">&times;</span>
                    <h2>flight {{ dialogFlight.id }} list of tourist</h2>
                </header>
                <div class="w3-container w3-padding" style="max-height: 400px; overflow-y: auto;" >
                    <table class="w3-table-all w3-card-4 w3-hoverable"  >
                        <thead>
                            <tr class="w3-black w3-text-white">
                                <th scope="col">id</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Country</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let tourist of dialogFlight.touristList">
                            <tr>
                                <td>{{ tourist.id }}</td>
                                <td>{{ tourist.firstName }}</td>
                                <td>{{ tourist.lastName }}</td>
                                <td>{{ tourist.country }}</td>
                                <td><button class="w3-btn w3-black w3-hover-red"
                                        (click)="removeTourist(tourist.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form class="w3-container" (ngSubmit)="addTourist()" ngNativeValidate>
                    <p>
                        <label class="w3-text-grey" for="f-f-tourist"><b>Select Tourist</b></label>
                        <select class="w3-select  w3-border w3-light-grey" name="tourist" [(ngModel)]="tourist">
                            <option *ngFor="let t of tourists" [ngValue]="t">{{t.id}}. {{t.firstName}} {{t.lastName}}
                            </option>
                        </select>
                    </p>
                    <p>
                        <button class="w3-btn w3-brown" type="submit">Add</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- Add new form-->
    <div class="w3-card-4" style="margin-top: 30px;">
        <div class="w3-container w3-brown w3-text-white w3-center">
            <h5>Add new flight</h5>
        </div>
        <form class="w3-container" (ngSubmit)="save()" ngNativeValidate>
            <p>
                <label class="w3-text-grey" for="f-f-departure"><b>Departure</b></label>
                <input class="w3-input w3-border w3-light-grey" id="f-f-departure" type="datetime-local" required
                    name="departure" [(ngModel)]="flight.departureTime">
            </p>
            <p>
                <label class="w3-text-grey" for="f-f-arrival"><b>Arrival</b></label>
                <input class="w3-input w3-border w3-light-grey" id="f-f-arrival" type="datetime-local" required
                    name="arrival" [(ngModel)]="flight.arrivalTime">
            </p>
            <p>
                <label class="w3-text-grey" for="f-f-seats"><b>Seats Number</b></label>
                <input class="w3-input w3-border w3-light-grey" id="f-f-seats" type="number" required name="seats"
                    min="1" step="1" value="1" [(ngModel)]="flight.seatsNumber">
            </p>
            <p>
                <label class="w3-text-grey" for="f-f-ticket"><b>Ticket Price</b></label>
                <input class="w3-input w3-border w3-light-grey" id="f-f-ticket" type="number" required name="ticket"
                    min="0.01" step="0.01" value="0.01" [(ngModel)]="flight.ticketPrice">
            </p>
            <p>
                <button class="w3-btn w3-brown" type="submit">Add</button>
            </p>
        </form>
    </div>
</div>